# Titanic Dataset

## Import Libraries and Create Dataframe

In [ ]:
# We will need: pandas, matplotlib, numpy and seaborn

In [ ]:
# The data for this dataframe is in titanic.csv

In [ ]:
# Check the size of the titanic data

In [ ]:
# Check the shape of the titanic data

In [ ]:
# Check the first five rows of the titanic data

In [ ]:
# Check info on the titanic data

## Segmenting Data Within a Dataframe

In [ ]:
# Grab the last name of each passenger in the titanic data

In [ ]:
# What are the five most common last names?

In [ ]:
# Create a bar chart with the five most common last names
# Be sure to add a title and axis labels to your chart

## Distributions of Variables

In [ ]:
# We want to look at the distribution of ages, but can't have nulls for that
# So, drop any row where Age is null from the dataframe

In [ ]:
# Run this cell without changes
plt.figure(figsize=(10,6))
sns.distplot(titanic["Age"], kde=False)
plt.show()

Just by looking at this distribution, which would you expect:

    1) Mean is larger than median
    2) Mean and median are the same
    3) Median is larger than the mean

Why?

-

## Grabbing Specific Rows to Answer Questions

In [ ]:
# Who paid the most for a ticket, and how much did they pay?

# Iris Dataset

## Create Dataframe

In [ ]:
# The data for this dataframe is in titanic.csv

In [ ]:
# Check the size of the iris data

In [ ]:
# Check the shape of the iris data

In [ ]:
# Check the first five rows of the iris data

In [ ]:
# Check info on the iris data

In [ ]:
# Check descriptive statistics on the iris data

## Relationships Between Variables

In [ ]:
# Use Seaborn to plot comparisons between each variable in the iris data

Can you describe how some of these variables interact?

-

## Transforming Columns

In [ ]:
# These lengths/widths are given in centimeters - convert to inches
# Formula: cm / 2.54 = in